/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ==========================================================
  End of reset
  ==========================================================
*/

body {
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    margin: 0px;
    background-image: url("../assets/meek-mill-bg.jpg");
    background-size: cover;

}

.content {
    width: 70%;
    margin: 0 auto;
    /*background-color: red;*/
}


/*navigation on small screens*/


.small-screen-navigation-container{
    /*display: none;*/
    position: fixed;
    width: 40vw;
    height: 40vh;
    top: -60px;
    left: 0px;
    background-color: #000;
    z-index: 10;
    transform: translateX(-110vw);
    transition: transform 0.6s ease-in-out;
}

.small-screen-navigation{
    width: 100%;
    height: 100%;
    text-align: center;
}

.small-screen-navigation li{
    padding: 15px;
}

.small-screen-navigation li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.close-small-screen-navigation{
    margin-left: 90%;
    margin-top: 15px;
    display: block;
    width: 20px;
    cursor: pointer;
}


/* End of navigation on small screens*/






.main-nav-small-screen-icon{
    display: none;
    font-size: 50px;
    margin: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    border: none;
}

nav {
    display: flex;
    /*background-color: aqua;*/
    justify-content: space-between;
    margin-top: 80px;
    height: 30px;
}

.logo {
    flex-grow: 1;
    background-color: white;
}

.navigation {
    display: flex;
    list-style: none;
    flex-grow: 2;
    line-height: 30px;
    justify-content: space-between;
    padding: 0px 10px;
}

.navigation > li:first-child {
    margin-left: 220px;
}

.navigation > li> a{
    text-decoration: none;
    color: #ffffff;
}

.search {
    flex-grow: 1;
    margin-left: 20px;
    position: relative;

}

.search > input {
    border-radius: 15px;
    height: 30px;
    background-color: transparent;
    color: #ffffff;
}

.search-icon{
    position: absolute;
    top: 7px;
    left: 10px;
}

.search>input:focus{
    outline: none;
    text-indent: 10px;
}

.uk-flag{
    width: 30px;
    height: 21px;
    margin-left: 10px;
    margin-top: 4px;
}

.intro {
    margin-left: 155px;
    font-family: Georgia;
}

.intro p{
    font-size: 28px;
    font-style: italic;
    line-height: 55px;
    margin-bottom: 40px;
}

.artist-name {
    margin-top: 120px;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 40px;
    position: relative;
}

.artist-name:after{
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0px;
    width: 120px;
    border-bottom: 1px solid #e41a4e;
}


.learn-more, .buy-it{
    width: 170px;
    height: 50px;
    display: inline-block;
}

.learn-more>button, .buy-it>button{
    width: 100%;
    height: 100%;
}


/*look into strange extra margin of buy it with img in it: below*/
.buy-it{
    position: relative;
    bottom: 6px;
    /*strange extra margin of buy it with img in it above*/
    margin-left: 20px;
}

.learn-more{
    position: relative;
    top: -20px;
}

.learn-more>button{
    font-size: 18px;
    font-style: italic;
    border: 1px solid #e41a4e;
    color: #ffffff;
    box-shadow: 0px 3px 0px #a70e36;
    background-color: #e41a4e;

}

.buy-it>button{
    background-color: #ffffff;
    opacity: 0.9;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 0px #dcdcdc;
}

.buy-it>button:hover, .learn-more>button:hover{
    cursor: pointer;
}

.buy-it>button{
    /*box-shadow: 0px 3px 0px #dcdcdc;*/
}


.buy-it>button>span{
    position: absolute;
    left: 40px;
    top: 15px;
    font-size: 18px;
    font-style: italic;
}

.buy-it>button>img{
    position: absolute;
    right: 30px;
    top: 14px;
}

.feature{
    display: flex;
    justify-content: space-between;
}

.feature-item{
    height: 450px;
    margin: 50px 10px;
    flex: 0 0 320px;
    position: relative;
    color: black;
    background-color: #ffffff;
    overflow: hidden;
}

.feature-image{
    width: 100%;
    transition: transform 0.4s ease;
}

.feature-2>img{
    position: relative;
    /*top: -12px;*/
}

.feature-item:hover>.feature-image{
    transform: scale(1.2);
}

.feature-item:first-child{
    margin-left: 0px;
}

.feature-item:last-child{
    margin-right: 0px;
}

.feature-content{
    position: absolute;
    bottom: 22%;
    left: 8%;
    padding: 10px;
    width: 80%;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
}

.feature-content p{
    margin-top: 10px;
    font-size: 12px;
}

.feature-content h3{
    font-size: 20px;
    font-weight: 300;
}

.view-button{
    padding: 10px 20px;
    height: 35px;
    display: block;
    background-color: #e41a4e;
    border: 1px solid #e41a4e;
    /*box shadow strangely moves when image scales. todo*/
    /*box-shadow: 0px 3px 0px #a70e36;*/
    position: absolute;
    bottom: 9%;
    margin-left: 10%;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.icon-button{
    height: 38px;
    width: 45px;
    position: absolute;
    bottom: 8.5%;
    margin-left: 36%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d7dde2;
}

.recommended{
    position: absolute;
    top: 20px;
    right: -40px;
    background-color: #1f84e2;
    color: #ffffff;
    padding: 5px 40px 5px 80px;
    font-size: 12px;
    transform: rotate(45deg);
}


/*
  ==========================================================
  Media Queries
  ==========================================================
*/


/*---------------- max-width: 600px ------------------*/

@media screen and (max-width: 600px) {


}

/*---------------- max-width: 800px ------------------*/

@media screen and (max-width: 800px) {
    .container{
        overflow-x: hidden;
        background-position: center center;
    }
    .main-nav{
        display: none;
    }

    .main-nav-small-screen-icon{
        display: block;
        cursor: pointer;
    }

    .intro {
        margin-left: 0px;
    }

    .artist-name {
        margin-top: 50px;
        font-size: 30px;

    }

    .intro p{
        font-size: 24px;
        line-height: 50px;

    }

    .learn-more, .buy-it{
        width: 150px;
        height: 50px;
        display: block;
    }


    .buy-it{
        position: relative;
        bottom: 0px;
        margin-left: 0px;
    }

    .buy-it>button>img{
        position: absolute;
        right: 15px;
        top: 14px;
    }

    .intro p{
        margin-bottom: 60px;
    }

    .feature{
        display: flex;
        flex-direction: column;
    }

    .feature-item{
        margin: 30px 0px;
        flex: 0 0 320px;
        position: relative;
        color: black;
        background-color: #ffffff;
        overflow: hidden;
    }

    .feature-content h3{
        font-size: 18px;
    }


    .feature-content{
        bottom: 15%;
        line-height: 15px;
    }

    .feature-content p{
        margin-top: 5px;
        font-size: 12px;
    }

    .view-button{
        padding: 5px 10px;
        height: 30px;
        bottom: 5%;
        cursor: pointer;
    }
    .icon-button{
        height: 30px;
        width: 40px;
        bottom: 5%;
        margin-left: 30%;
    }
}

/*---------------- min-width: 801px to 1100px ------------------*/

@media screen and (min-width: 800px) and (max-width: 1100px){
    .content{
        margin: 0 10px;
    }

    .intro{
        margin-left: 20px;
    }

    .navigation > li>a {
        margin: 0px 10px;
    }

    .feature {
        min-width: calc(98vw);
        flex-wrap: wrap;
        justify-content: flex-start;

    }

    .feature-item {
        /*height: 450px;*/
        margin: 50px 10px;
        background-color: #ffffff;
        /* flex: 1 1 300px; */
        flex-basis: 266px;
        flex-grow: 1;
    }

    .feature-item:last-child{
        flex-grow: 0.225;
    }


}

/*---------------- For input and uk-flag ------------------*/
/*---------------- min-width: 801px to 1000px ------------------*/

@media screen and (min-width: 801px) and (max-width: 940px) {
    .container{
        position: relative;
    }

    .search {
        position: absolute;
        top: 10px;
        right: 50px;
    }

    .uk-flag{
        position: absolute;
        top: 10px;
        right: 5px;
    }

}




/*---------------- for navigation items margins ------------------*/
/*---------------- min-width: 1100px to 1320px ------------------*/

@media screen and (min-width: 1100px) and (max-width: 1320px) {
    .navigation > li>a {
        margin: 0px 10px;
    }
}