/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ==========================================================
  End of reset
  ==========================================================
*/

body {
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    margin: 0px;
    background-image: url("../assets/meek-mill-bg.jpg");
    background-size: cover;
}

.content {
    width: 70%;
    margin: 0 auto;
    /*background-color: red;*/
}

nav {
    display: flex;
    /*background-color: aqua;*/
    justify-content: space-between;
    margin-top: 80px;
    height: 30px;
}

.logo {
    flex-grow: 1;
    background-color: white;
}

.navigation {
    display: flex;
    list-style: none;
    flex-grow: 2;
    /*background-color: red;*/
    line-height: 30px;
    justify-content: space-between;
    padding: 0px 10px;
}

.navigation > li:first-child {
    margin-left: 240px;
}

.navigation > li> a{
    text-decoration: none;
    color: #ffffff;
}

.search {
    flex-grow: 1;
    margin-left: 30px;
    /*margin-top: 5px;*/

}

.search > input {
    border-radius: 10px;
    height: 25px;
    background-color: transparent;
    color: #ffffff;
}

.search>input:focus{
    outline: none;
    text-indent: 10px;
}

.artist-name {
    margin-top: 120px;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 45px;
    position: relative;
}

.artist-name:after{
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0px;
    width: 120px;
    border-bottom: 1px solid #e41a4e;
}

.intro {
    margin-left: 155px;
    font-family: Georgia;
}

.intro p{
    font-size: 28px;
    font-style: italic;
    line-height: 55px;
    margin-bottom: 40px;
}

.learn-more, .buy-it{
    width: 200px;
    height: 80px;
    display: inline-block;
}

.learn-more>button, .buy-it>button{
    width: 100%;
    height: 100%;
}



/*look into strange extra margin of buy it with img in it: below*/
.buy-it{
    position: relative;
    bottom: -8px;
    /*strange extra margin of buy it with img in it above*/
    margin-left: 20px;
}

.learn-more{
    position: relative;
    top: -20px;
}

.learn-more>button{
    font-size: 18px;
    font-style: italic;
    border: 1px solid #e41a4e;
    color: #ffffff;
    box-shadow: 0px 3px 0px #a70e36;
    background-color: #e41a4e;

}

.buy-it>button{
    background-color: #ffffff;
    opacity: 0.9;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 0px #dcdcdc;
}

.buy-it>button:hover, .learn-more>button:hover{
    cursor: pointer;
}

.buy-it>button{
    /*box-shadow: 0px 3px 0px #dcdcdc;*/
}


.buy-it>button>span{
    position: absolute;
    left: 50px;
    top: 25px;
    font-size: 18px;
    font-style: italic;
}

.buy-it>button>img{
    position: absolute;
    right: 50px;
    top: 25px;
}

.feature{
    display: flex;
    justify-content: space-between;
}

.feature-item{
    width: 380px;
    height: 450px;
    margin: 50px 10px;
    flex-grow: 1;
    position: relative;
    border: 2px solid white;
    color: black;

    background-color: #ffffff;
}

.feature-item:first-child{
    margin-left: 0px;
}

.feature-item:last-child{
    margin-right: 0px;
}

.feature-content{
    position: absolute;
    bottom: 20%;
    left: 8%;
    padding: 10px;
    width: 80%;
    line-height: 25px;
}

.view-button{
    padding: 10px 20px;
    height: 35px;
    background-color: #e41a4e;
    border: 1px solid #e41a4e;
    box-shadow: 0px 3px 0px #a70e36;
    position: absolute;
    bottom: 7%;
    left: 10%;
    color: #ffffff;
}
.icon-button{
    height: 38px;
    position: absolute;
    bottom: 6.7%;
    left: 38%;
}


.feature-1>img{
    width: 100%;
}
